<div id=":nt" class="ii gt m14bb72a803c949e9 adP">
<div id=":m0" class="a3s" style="overflow: hidden;">
<div dir="ltr">
<span style="font-size:12.8000001907349px">Bom dia,</span>
<div style="font-size:12.8000001907349px">
<br>
</div>
<div style="font-size:12.8000001907349px">A&nbsp;<a href="{{link}}" target="_blank">DobraLab</a>&nbsp;é um estúdio de design e computação, localizado em São Paulo, que trabalha com pesquisa e desenvolvimento de soluções para web, aplicativos, jogos e projetos ligados à inteligência artificial.</div>
<div style="font-size:12.8000001907349px">
<br>
</div>
<div style="font-size:12.8000001907349px">Nos colocamos à sua disposição para tomar um café e conversarmos sobre a criação e/ou programação de projetos nas seguintes áreas:</div>
<div style="font-size:12.8000001907349px">
<br>
</div>
<div style="font-size:12.8000001907349px">
<b>Aplicativos</b>
</div>
<div style="font-size:12.8000001907349px">
<ul>
<li style="margin-left:15px">Websites, CMS customizados, sistemas de consulta e cadastro online<br>
</li>
<li style="margin-left:15px">Aplicativos para mobile<br>
</li>
<li style="margin-left:15px">Integração de mapas com geolocalização<br>
</li>
<li style="margin-left:15px">Ferramentas de pesquisas e enquetes<br>
</li>
<li style="margin-left:15px">Jogos para eventos</li>
</ul>
</div>
<div style="font-size:12.8000001907349px">
<b>Interfaces Naturais</b>
</div>
<div style="font-size:12.8000001907349px">
<ul>
<li style="margin-left:15px">Aplicações interativas com novas tecnologias<br>
</li>
<li style="margin-left:15px">Integração com Kinect e Wii<br>
</li>
<li style="margin-left:15px">Reconhecimento facial<br>
</li>
<li style="margin-left:15px">Visão computacional<br>
</li>
<li style="margin-left:15px">Integração com sensores diversos<br>
</li>
<li style="margin-left:15px">Interatividade em grandes formatos</li>
</ul>
</div>
<div style="font-size:12.8000001907349px">
<b>Simuladores</b>
</div>
<div style="font-size:12.8000001907349px">
<ul>
<li style="margin-left:15px">Criação de lógica sistêmica para simulação de atividades<br>
</li>
<li style="margin-left:15px">Jogos para treinamento<br>
</li>
<li style="margin-left:15px">Simuladores para tomada de decisão em diversos níveis de gestão<br>
</li>
<li style="margin-left:15px">Simuladores baseados em análise de dados (bigdata)<br>
</li>
<li style="margin-left:15px">Jogos para entretenimento e educação</li>
</ul>
</div>
<div style="font-size:12.8000001907349px">Para saber mais sobre nosso estúdio entre em contato ou visite nosso website:</div>
<div style="font-size:12.8000001907349px">
<a href="{{link}}" target="_blank">http://dobralab.com.br/</a>
</div>
<div style="font-size:12.8000001907349px">
<br>
</div>
<div style="font-size:12.8000001907349px">Aguardamos seu contato.</div>
<div style="font-size:12.8000001907349px">
<br>
</div>
<div style="font-size:12.8000001907349px">Atenciosamente,</div>
<span class="HOEnZb adL">
<font color="#888888">
<div>
<div dir="ltr">
<div>
<div dir="ltr">
<div>
<div dir="ltr">
<span style="background-color:rgb(255,255,255)">
<font face="arial, helvetica, sans-serif" color="#674ea7">
<font>Leandro Velloso<br>
</font>
<br>
<b style="font-size:large">DobraLab</b>
</font>
<font face="arial, helvetica, sans-serif" size="4" color="#8e7cc3"> Affective Computing</font>
</span>
<div>
<font face="arial, helvetica, sans-serif" color="#674ea7">
<a href="mailto:leandro@dobralab.com.br" target="_blank">leandro@dobralab.com.br</a>
</font>
</div>
<div>
<font face="arial, helvetica, sans-serif" color="#674ea7">(11) 99327-7181</font>
</div>
<div>
<font face="arial, helvetica, sans-serif" color="#674ea7">
<br>
</font>
</div>
<div>
<img src="{{image}}" width="200" height="33" style="color:rgb(103,78,167);font-family:arial,helvetica,sans-serif;font-size:12.8000001907349px" class="CToWUd">
<font face="arial, helvetica, sans-serif" color="#674ea7">
<br>
</font>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</font>
</span>
</div>
<div class="adL">
</div>
</div>
</div>